@use './core/reset';
@use './abstract/typography';
@use './abstract/color';
@use './core/attributes';

@use './components/button';
@use './components/card';
@use './components/dropdown';
@use './components/file-upload';
@use './components/progress-bar';
@use './components/text-input';
@use './components/modal';
@use './components/nav';
@use './components/footer';
@use './components/header';


body {
	background-color: color.$white;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	width: 4px;
}

.ql-container {
	height: auto !important;
	font-family: 'Computer Modern Serif' !important;
	font-size: 16px !important;

	p {
		font-size: 16px !important;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	sup {
		vertical-align: super;
		font-size: 12px;
	}

	sub {
		vertical-align: sub;
		font-size: 12px;
	}

	.ql-tooltip {
		right: 8px !important;
		top: 0px !important;
		left: auto !important;
	}

}

.mn-c-modal.mn-is-study-question {
		position: fixed;
		top: 25vh;
		left: calc(75vw - 240px);
		width: auto;
		height: auto;
		margin: 0px !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;

		.mn-c-modal-blocker {
			display: none;
		}
		
	}
