@use "./base/reset";
@use "./base/core";

@use "./abstract/typography";
@use "./abstract/sizing";
@use "./abstract/color";

@use "./component/button";
@use "./component/page";
@use "./component/textinput";
@use "./component/icon-button";
@use "./component/dropdown";
@use "./component/navbar";
@use "./component/login-form";
@use "./component/learning-material";
@use "./component/learning-material-add";
@use "./component/lesson-wrapper";
@use "./component/material-section";
@use "./component/material-section-add";
@use "./component/material-form";
@use "./component/material-wrapper";
@use "./component/section-form";
@use "./component/file-upload";
@use "./component/modal";
@use "./component/course-card";

@use "./component/goal-display";
@use "./component/lesson-display";
@use "./component/lesson-material-display";

@use "./page/course-home";

body {
	background-color: color.$background;
	box-sizing: border-box;
}
h2 {
	font-size: sizing.$fs-h2;
	font-weight: 300;
}

h4 {
	font-size: sizing.$fs-h4;
	font-weight: 300;
}


