@use '../abstract/typography';

div.mn-c-text-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&.mn-is-column {
		flex-direction: column;
		align-items: start;
		gap: 4px;
	}

	&.mn-is-numeric {
		input {
			width: 48px;
		}
	}

	input {
		height: 32px;
		width: 240px;
	}
}

span.mn-c-text-input {
	min-height: 16px;
	min-width: 32px;
	border-bottom: 1px solid grey;
	&.mn-h2 {
		font-size: typography.$x-large !important;
		height: typography.$x-large;
		min-width: 64px;
	}

	&[contenteditable] {
		outline: 0px solid transparent;
	}
}

