@use "../abstract/sizing";
@use "../abstract/color";

#mn-i-course-title {
	
	.course-stats {
		display: flex;
		flex-direction: row;
		gap: sizing.$main;

		svg {
			width: sizing.$main * 1.5;
			height: sizing.$main * 1.5;
			color: color.$main2;
		}

		&> span {
			display: flex;
			flex-direction: row;
			gap: sizing.$main * 0.5;
		}
	}
}


.mn-c-lesson-display-container {
	display: flex;
	flex-direction: column;
	gap: sizing.$main;

	.material-container {
		display: flex;
		flex-direction: column;
		gap: sizing.$main * 0.5;
		margin-top: sizing.$main * 0.5;
	}
	.mn-c-lesson-material-display {
		margin-left: sizing.$main * 2;
	}
}
