@use "../abstract/sizing";
@use "../abstract/color";

.mn-c-button {
	width: calc(sizing.$main * 10);
	height: calc(sizing.$main *2);
	border-radius: 0px;
	border: 1px solid color.$main2;
	background-color: color.$background;
	font-family: "Roboto", sans-serif;
	color: color.$main0;
	font-weight: inherit;
	font-size: 1em;

	&.mn-is-large {
		width: calc(sizing.$main * 14);
		height: calc(sizing.$main * 3);
	}
	
	&.mn-is-small {
		width: calc(sizing.$main * 7);
		height: calc(sizing.$main * 2);
	}

	&.mn-is-danger {
		color: color.$red1;
		border-color: color.$red1;
		&:hover {
			background-color: color.$red2;
		}
	}

	&.mn-is-secondary {
		background-color: color.$main3;
		border-color: color.$main3;

		&:hover {
			background-color: color.$main2;
		}
	}

	&.mn-is-tertiary {
		background-color: transparent;
		border: 0px;
		color: color.$main0;
		font-size: sizing.$fs-small;
		text-align: left;
		text-decoration: underline;
		width: auto;
		height: auto;

		&:hover {
			background-color: transparent;
			color: color.$main1;
		}
	}

	&:hover {
		background-color: color.$main3;
		cursor: pointer;
	}
}
