@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-dropdown {
	display: flex;
	flex-direction: column;
	gap: calc(sizing.$main * 0.25);

	label, & p {
		font-size: sizing.$fs-small;
		color: color.$main1;
	}

	label {
		font-weight: bold;
	}

	select {
		background-color: color.$background;
		border: 1px solid color.$main2;
		height: calc(sizing.$main * 2);
		width: calc(sizing.$main * 16);
		color: color.$main0;
		padding-left: calc(sizing.$main * 0.5);
		-moz-appearance: none;
		-webkit-appearance: none;
		font-size: 1em;
		text-align: center;
		padding: 0px;

		&:hover{
			cursor: pointer;
			background-color: color.$main3;
		}

		option {
			text-align: center;
		}
  	}

}
