@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-file-upload {
	display: flex;
	flex-direction: column;
	gap: calc(sizing.$main * 0.25);

	.label {
		font-size: sizing.$fs-small;
	}

	.label {
		font-weight: bold;
		color: color.$main1;
	}

	input {
		display: none;
	}

	.input {
		display: flex;
		flex-direction: row;
	}

	.input:hover > * {
		border-color: color.$main1;
		background-color: color.$main3-5;
		cursor: pointer;
	}

	.title {
		background-color: color.$background;
		border: 1px solid color.$main2;
		height: calc(sizing.$main * 2);
		width: calc(sizing.$main * 14);
		color: color.$main1;
		padding-left: sizing.$main * 0.5;
		display: flex;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.icon {
		background-color: color.$background;
		border: 1px solid color.$main2;
		height: calc(sizing.$main * 2);
		width: calc(sizing.$main * 2);
		margin-left: -1px;
		display: flex;
		justify-content: center;
		align-items: center;

		& > svg {
			height: calc(sizing.$main * 1); 
			width: calc(sizing.$main * 1); 
		}
	}

	&.mn-is-small .input .title { 
		width: calc(sizing.$main * 6);
	}
}
