@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-learning-material {
	display: flex;
	flex-direction: row;
	align-items: center;
	.main {
		display: flex;
		flex-direction: row;

		.icon {
			width: calc(sizing.$main * 3);
			height: calc(sizing.$main *3);
			border: 1px solid color.$main2;
			background-color: color.$background;
			color: color.$main2;
			display: flex;
			justify-content: center;
			align-items: center;

			& > * {
				width: calc(sizing.$main * 2);
				height: calc(sizing.$main * 2);
				stroke-width: 1.5;
			}
		}

		.title {
			width: calc(sizing.$main * 25);
			height: calc(sizing.$main * 3);
			border: 1px solid color.$main2;
			background-color: color.$background;
			margin-left: -1px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: calc(sizing.$main * 0.5);
		}

	}

	&:hover > .main > div {
		border-color: color.$main1;
		cursor: pointer;
		background-color: color.$main3-5;
	}

	button {
		visibility: collapse;
		margin-left: calc(sizing.$main * 1);;
	}

	&:hover > button {
		visibility: visible;
	}

	&.mn-is-inactive {
		.icon, .title {
			border-color: color.$main3-5;
			color: color.$main3-5;

			> * {
				color: color.$main3-5;

			}
		}

		&:hover  {
			.icon, .title {
					border-color: color.$main3-5;
					color: color.$main3-5;
					background-color: color.$background;
					cursor: default;
			}
		}
	}

}
