@use '../abstract/sizing';
@use '../abstract/color';

@mixin container {
	display: flex;
	flex-direction: row;
	border: 1px solid color.$main3;
	align-items: center;
}

.mn-c-lesson-display {
	display: flex;
	flex-direction: row;
	color: color.$main1;

	width: sizing.$main * 38; 

	.index {
		@include container;

		width: sizing.$main * 2;
		height: sizing.$main * 2;
		justify-content: center;
	}

	.main {
		@include container;
		margin-left: -1px;
		height: sizing.$main * 2;
		width: sizing.$main * 33;
		justify-content: space-between;
		padding: sizing.$main * 0.5;

	}

	.lesson-stats {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: -1px;
		height: sizing.$main * 2;
		gap: sizing.$main * 0.5;

		> span {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: sizing.$main * 2;
			gap: sizing.$main * 0.5;
			svg {
				color: color.$main2;
				height: sizing.$main * 1.25;
				width: sizing.$main * 1.25;
			}
		}
	}

	.mark {
		@include container;
		justify-content: center;
		margin-left: -1px;
		height: sizing.$main * 2;
		width: sizing.$main * 3;
	}

	&:hover, &.mn-is-focus {
		color: color.$main0;
		cursor: pointer;
		.mark,
		.index,
		.main {
			border-color: color.$main2;
		}
	}
}
