@use "../abstract/sizing";
@use "../abstract/color";

.mn-c-lesson-material-display {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: color.$main1;	

	.type {
		display: flex;
		align-items: center;
		justify-content: center;
		width: sizing.$main * 2;
		height: sizing.$main * 2;
		border: 1px solid color.$main3;
	}

	.main {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: sizing.$main * 31;
		height: sizing.$main * 2;
		padding: sizing.$main * 0.5;
		justify-content: space-between;
		border: 1px solid color.$main3;
		margin-left: -1px;
	}
}
