@use "../abstract/sizing";

.mn-c-login-form {

	display: flex;
	flex-direction: column;
	gap: sizing.$main;
	width: calc(sizing.$main * 16);
	.buttons {
		margin-top: calc(sizing.$main);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
