@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-material-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	.main {
		display: flex;
		flex-direction: row;

		.icon {
			width: calc(sizing.$main * 2);
			height: calc(sizing.$main * 2);
			border: 1px solid color.$main2;
			background-color: color.$background;
			color: color.$main2;
			display: flex;
			justify-content: center;
			align-items: center;

			& > * {
				height: calc(sizing.$main * 1.5);
				width: auto;
				stroke-width: 1.5;
			}
		}

		.title {
			width: calc(sizing.$main * 23);
			height: calc(sizing.$main * 2);
			border: 1px solid color.$main2;
			background-color: color.$background;
			margin-left: -1px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: calc(sizing.$main * 0.5);
		}

	}

	&:hover > .main > div {
		border-color: color.$main1;
		cursor: pointer;
		background-color: color.$main3-5;
	}

	button {
		visibility: collapse;
		margin-left: calc(sizing.$main * 1);
	}

	&:hover > button {
		visibility: visible;
	}
}
