@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-material-wrapper {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: sizing.$main * 30.5;
	gap: sizing.$main * 1;
	
	.mn-c-material-section-add, .mn-c-material-add  {
		margin-right: sizing.$main * 2.5;
		.icon, .title {
			transition: color 0.1s, border-color 0.1s;
			border-color: color.$main3-5;
			color: color.$main3-5;
		}
	}

	&:hover .mn-c-material-section-add, 
	&:hover .mn-c-material-add, 
	{
		.icon, .title {
			transition: color 0.1s, border-color 0.1s;
			border-color: color.$main3;
			color: color.$main2;
		}
	}
}

.mn-c-learning-material-section {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: sizing.$main * 1;
	
	.section-list {

		display: flex;
		flex-direction: column;
		gap: sizing.$main * 1;
	}

}
