@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	margin: 0px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;

	.mn-c-modal-blocker {
		z-index: 1;
		filter: blur(10px);
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		cursor: pointer;
		background-color: rgba(0,0,0,0.5);
	}

	.mn-c-modal-content {
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: sizing.$main;

		.mn-c-modal-title {
			align-self: center;
			font-size: sizing.$fs-p;
			color: color.$main1;
		}


	}

}
