@use "../abstract/color";
@use "../abstract/sizing";

.mn-c-section-form {
	display: flex;
	flex-direction: column;
	gap: sizing.$main;
	width: sizing.$main * 20;
	background-color: color.$background;
	border: 1px solid color.$main3;
	padding: sizing.$main * 2;

	&>p {
		margin-bottom: -0.5 * sizing.$main;
	}
	p {
		align-self: center;
		color: color.$main1;
	}
	.pages {
		display: flex;
		flex-direction: row; 
		align-items: center;
		justify-content: space-between;
		.mn-is-numeric input {
			width: sizing.$main * 6;
		}
	}


	.buttons {
		margin-top: sizing.$main;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
