$red: #881d1d;
$pale-red: #efbcbc;
$light-red: #ab3c3c;
$dark-red: #521212;

$blue: #3f537d;
$light-blue: #a8c1e9;
$pale-blue: #e5efff;
$dark-blue: #0f3c82;

$white: #f6f6f6;
$light-grey: #e2e2e2;
$grey: #898989;

$black: #161616;

$green: #245c23;

// WEBSITE VARIABLES

$primary: $white;
$primary-link: $dark-blue;
$primary-text: $black;

$secondary: $blue;
$secondary-link: $light-blue;
$secondary-text: $white;
$secondary-button-primary: $white;
$secondary-button-secondary: $pale-blue;
$secondary-button-text: $black;

$caution-button: $pale-red;
$caution-button-text: $dark-red;
$caution-button-border: $red;

// Color attributes

