@use '../abstract/color';

.mn-c-dropdown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 16px;

	select {
		max-width: 160px;
		border: none;
		background-color: color.$white;
		padding: 4px;

		&:hover {
			cursor: pointer;
		}
	}
}
